.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

src/afTest.cpp
src/all_conv2_relu.npy
src/all_fc1.npy
src/all_pool1.npy
src/all_pool2.npy
src/convCheck.py
src/cudaConv1.npy
src/err_code.c
src/expected_output.npy
src/input_image.npy
src/weights.npy

x64/
Debug/
Release/
build/
*.obj
*.exe
*.log



CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


*.ptx
*.bin


*.tmp
*.temp



*.csv


*.pdb
*.idb
*.ilk
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb

