# Ignore build output directory
/build
/export
top/hls/.autopilot
top/hls/.debug
top/hls/logs
/.cache
/.Xil
# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata
./top/hls/.autopilot
./top/hls/.debug